:root {
  --gradient: linear-gradient(
    90deg,
    rgb(16, 16, 16, 1),
    rgb(34, 2, 53, 1),
    rgb(46, 3, 72, 1),
    rgb(64, 4, 100, 1),
    rgb(77, 7, 119, 1),
    rgb(90, 7, 140, 1),
    rgb(107, 12, 164, 1),
    rgb(128, 16, 195, 1),
    rgb(147, 26, 2020, 1),
    rgb(170, 49, 243, 0.8),
    rgb(196, 18, 220, 0.5)
  );
}

body {
  min-height: 100vh;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
